{% extends "master_layout.html" %}

{% block page_name %}students{% endblock %}

{% block header_content %}
<h1 class="page-header">STUDENT LIST</h1>
{% endblock %}

{% block inner_content %}
<form class="d-flex" role="search">
  <div class="input-group">
    <select class="form-control me-2">
      <option value="" disabled selected>Filter</option>
      <option value="studentId">ID</option>
      <option value="studentCourse">Course Code</option>
      <option value="studentFirstname">First Name</option>
      <option value="studentLastname">Last Name</option>
      <option value="studentYear">Year Level</option>
      <option value="studentGender">Gender</option>
    </select>
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>
  <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#addStudentModal"><i class="fa-solid fa-square-plus fa-2xl"></i></button>
</form>

<table class="table table-striped table-hover">
    <thead>
      <tr class="clickable-row">
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Course</th>
        <th scope="col">Year Level</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for student in students %}
    <tr>
      <td>{{ student[0] }}</td>
      <td>{{ student[1] }}</td>
      <td>{{ student[2] }}</td>
      <td>{{ student[5] }}</td>
      <td>{{ student[3] }}</td>
      <td>{{ student[4] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<!-- CREATE Student Modal -->
<div class="modal fade" id="addStudentModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form action="/students" method="POST">
      {{ add_form.csrf_token }}
      {{ add_form.hidden_tag() }}
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addStudentModalLabel">Add Student</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <div class="form-group">
          <label for="studentIdInput">ID Number</label>
          {{ add_form.studentIdInput(class="form-control", placeholder="e.g. 2024-0001", required=True, id="studentIdInput")}}
         </div>
         <div class="form-group">
          <label for="studentFirstnameInput">First Name</label>
          {{ add_form.studentFirstnameInput(class="form-control", placeholder="e.g. John", required=True, id="studentFirstnameInput")}}
         </div>
         <div class="form-group">
          <label for="studentLastnameInput">Last Name</label>
          {{ add_form.studentLastnameInput(class="form-control", placeholder="e.g. Doe", required=True, id="studentLastnameInput")}}
         </div>
         <div class="form-group">
          <label for="studentYearInput">Year Level</label>
          {{ add_form.studentYearInput(class="form-control", placeholder="e.g. !st Year", required=True, id="studentYearInput")}}
         </div>
         <div class="form-group">
          <label for="studentGenderInput">Gender</label>
          {{ add_form.studentGenderInput(class="form-control", placeholder="e.g. Male", required=True, id="studentGenderInput")}}
         </div>
         <div class="form-group">
          <label for="studentCollegeInput">College</label>
          {{ add_form.studentCollegeInput(class="form-control", placeholder="e.g. CCS", required=True, id="studentCollegeInput")}}
         </div>
         <div class="form-group">
          <label for="studentCourseInput">Course</label>
          {{ add_form.studentCourseInput(class="form-control", placeholder="e.g. BSCS", required=True, id="studentCourseInput")}}
         </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i> Close </button>
          <button type="submit" class="btn btn-warning AddFaculty"> <i class="fa-solid fa-user-plus"></i> Add Student </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %} 
<script src="{{ url_for('static', filename='updateDelete.js') }}"></script>
{% endblock %}